*{
    box-sizing: border-box;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: peachpuff;
}

form{
    background-color: aquamarine;
}

label{
    color: #ff7faa;
}
